/* Arsenal Font */
@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;
  /* color-scheme: light dark; */
}

@layer utilities {
  .text-shadow-dark {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-light {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  }
  .font-arsenal-spaced-1 {
    font-family: "Arsenal", serif;
    letter-spacing: 1px;
  }
  .font-arsenal-spaced-2 {
    font-family: "Arsenal", serif;
    letter-spacing: 2px;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
